server:
  port: 10000

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:  # ⭐ 새로운 구조
          routes:
            - id: payment-service
              uri: http://localhost:10001
              predicates:
                - Path=/api/payments/**
              filters:
                - RewritePath=/api/payments/(?<segment>.*), /api/payments/${segment}

