server:
  port: 10000

spring:
  application:
    name: api-gateway

payment:
  service:
    uri: http://localhost:10001

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    com.ms.multi: DEBUG
